# build folder
build
# NetBeans project folder
nbproject
# Result of the sample code
sample/result
sample/cctag3CC
sample/cctag4CC

# Ignore output files of optpp
*.out

# Ignore debug files
*.txt
*.ppm
*.pgm
