version: '1.0.{build}'

image: Visual Studio 2015

platform:
  - x64

configuration:
  - Release

install:
    # - cmd: >-
    #       call cudaInstallAppveyor.cmd

    - vcpkg upgrade --no-dry-run
    - vcpkg list
    - vcpkg install
          boost-accumulators
          boost-algorithm
          boost-container
          boost-date-time
          boost-exception
          boost-filesystem
          boost-iterator
          boost-lexical-cast
          boost-math
          boost-mpl
          boost-multi-array
          boost-ptr-container
          boost-program-options
          boost-serialization
          boost-spirit
          boost-static-assert
          boost-test
          boost-thread
          boost-throw-exception
          boost-timer
          boost-type-traits
          boost-unordered
          opencv
          tbb
          eigen3
          --triplet %PLATFORM%-windows
    - vcpkg list

before_build:
    - md build
    - cd build
    - cmake -G "Visual Studio 14 2015" -A x64 -T v140,host=x64 -DCMAKE_BUILD_TYPE=%configuration% -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -DBUILD_APPS:BOOL=ON -DWITH_CUDA:BOOL=OFF -DCCTAG_SERIALIZE:BOOL=ON -DVISUAL_DEBUG:BOOL=ON ..
    - ls -l

build:
  verbosity: detailed
  project: $(APPVEYOR_BUILD_FOLDER)\build\CCTag.sln 
  parallel: true

cache:
  c:\tools\vcpkg\installed\
